body{
    padding: 0;
    margin: 0;
}

.head a{
    text-decoration: none;
    background-color: rgb(203, 237, 213);
    color: black;
    font-size: larger;
}

form{
    text-align: center;
    
}

.judul{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 38%;
}

.desk{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 38%;
}