body{
    font-family: Arial, Helvetica, sans-serif;
}

.slider{
    padding-bottom: 3rem;
    background-color:rgb(203, 237, 213);
}

.textop h3{
    padding-top: 1rem;
    text-align: center;
}

.container-fluid img{
    width: 4rem;
    height: 4rem;
}

.carousel-inner p{
    color: black;

}

.carousel-inner h5{
    color: black;
}

.carousel-caption{
    position: absolute;
    bottom: -20px;
}


footer{
    display: flex;
    background-color: rgb(151, 222, 206);
    padding: 1rem;
    padding-left: 46%;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
}

.leftfooter img{
    width: 6rem;
}

.rightfooter img{
    width: 3rem;
}

